/* Ensure the title is at the very top */
h1 {
    font-size: 26px;
    color: var(--text-primary);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Left-align labels */
label {
    display: block;
    color: var(--text-primary);
    font-size: 16px; /* Slightly larger for better readability */
    margin-bottom: 5px;
}

/* Style input fields */
input[type="email"], 
input[type="text"]:not(.wallet-name), 
input[type="tel"], 
input[type="number"] {
    width: 90%;
    box-sizing: border-box;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    background: var(--overlay-light-2) !important;
    color: var(--text-primary) !important;
    caret-color: var(--text-primary);
    margin: 8px 0 16px;
    /*adding: 12px;*/
    height: 48px;
}

/* Checkbox container */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Button styles */
button {
    width: 90%;
    padding: 12px;
    box-sizing: border-box;
    margin: 8px 0 16px;
    border-radius: 6px;
    background-color: var(--accent-color-1);
    color: var(--text-primary);
    border: none;
    cursor: pointer;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: var(--accent-color-2);
}

/* Make cancel link more visible */
.cancel-link {
    color: var(--text-primary);
    text-decoration: underline;
    font-size: 16px;
    margin-top: 12px;
    display: block;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
        top: 15px;
    }

    .box-container {
        width: 95%;
        max-width: 340px; /* Slightly smaller for tablets */
        padding: 18px;
    }

    label {
        font-size: 15px;
    }

    button {
        font-size: 15px;
        padding: 10px;
    }

    .cancel-link {
        font-size: 14px;
    }
}

/* Mobile-Specific Adjustments */
@media (max-width: 480px) {
    h1 {
        font-size: 22px;
        top: 10px;
    }

    .box-container {
        width: 100%;
        max-width: 320px; /* Smaller for mobile */
        padding: 16px;
    }

    label {
        font-size: 14px;
    }

    input[type="email"], 
    input[type="text"], 
    input[type="tel"], 
    input[type="number"] {
        font-size: 14px;
        padding-left: 8px;
        height: 40px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .cancel-link {
        font-size: 13px;
    }
}

